p {
    color: white;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: rgb(105, 140, 205);
    font-family: 'Jua', sans-serif;
    text-align: center;
    margin-top: 200px
}

.response {
    color: rgb(234, 33, 33);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(77, 22, 3);
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 30px;
    margin-top: 200px

}

.title {
    color: (161,236,253);
    font-size: 50px;
}

.purpose {
    margin-top: -55px;
    line-height: 1.2;
    font-size: 27px;
    text-align: center;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: rgb(10, 101, 205)
    
    
}

.purpose {
	color: rgb(225, 236, 235);
	background-color: #f6ddba;
	border-style: solid;
    margin: auto;
    width: 500px;
    height: 95px;
	border-color: rgb(240, 186, 25);
}


.button {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    
    font-size: 20px;
    -webkit-text-stroke-width: 1.6px;
    -webkit-text-stroke-color: black;
    border: 2px solid  rgb(161, 236, 253); 
            padding: 3px; 
            border-radius: 50px;
            width: 300px; 
            margin-left: auto;
            margin-right: auto;
            margin-top: 20px; 
}
